/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Sarabun';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courgette';
}
h1 {
  font-size: 3.6rem;
  line-height: 1.4;
}
h2 {
  font-size: 2.4rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
  font-family: 'Sarabun';
}
footer {
  background: #BACCB3;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Sarabun', sans-serif;
  letter-spacing: 1.23px;
  color: #6B82C7;
}
@media (min-width: 501px) and (max-width:800px) {
  footer {
    flex-direction: row;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  footer {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  footer {
    flex-direction: row !important;
    height: 160px;
    align-items: center;
  }
}
footer p {
  font-size: 0.8rem;
  color: #90A1D5;
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 10px 20px 20px;
}
@media (min-width: 501px) and (max-width:800px) {
  footer p {
    font-size: 1rem;
    padding: 0;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  footer p {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media (min-width: 1025px) {
  footer p {
    font-size: 4.1rem;
    align-items: center;
    padding: 0;
  }
}
footer nav {
  display: flex;
  padding: 20px;
}
footer nav span {
  margin: 0 10px;
  font-size: 2.1rem;
}
@media (min-width: 1025px) {
  footer nav span {
    font-size: 4.6rem;
    font-weight: bold;
  }
}
footer nav a {
  font-size: 2.1rem;
  font-weight: 500;
  color: #6B82C7;
  text-decoration: none;
}
@media (min-width: 1025px) {
  footer nav a {
    font-size: 4.6rem;
    align-items: center;
    margin: 0 20px;
  }
}
.homepage-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 100, 0, 0.3), rgba(0, 100, 0, 0.3)), url(../images/header.png);
  filter: opacity(0.8);
  color: white;
  position: relative;
}
.homepage-header .top-header {
  background-color: #E1E6F4;
  width: 100%;
  height: 81px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 501px) and (max-width:800px) {
  .homepage-header .top-header {
    height: 206px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .homepage-header .top-header {
    height: 206px;
  }
}
@media (min-width: 1025px) {
  .homepage-header .top-header {
    height: 206px;
  }
}
.homepage-header .logo {
  width: 127px;
  height: 67px;
  margin-left: -24px;
}
@media (min-width: 1025px) {
  .homepage-header .logo {
    width: 359px;
    height: 180px;
    margin-top: 13px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .homepage-header .logo {
    width: 359px;
    height: 180px;
    margin-top: 13px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .homepage-header .logo {
    width: 359px;
    height: 180px;
    margin-top: 13px;
  }
}
.homepage-header .signImg {
  width: 14px;
  height: 14px;
  margin-top: 30px;
  margin-right: 24px;
}
@media (min-width: 1025px) {
  .homepage-header .signImg {
    width: 28px;
    height: 28px;
    margin-top: 85px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .homepage-header .signImg {
    width: 28px;
    height: 28px;
    margin-top: 85px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .homepage-header .signImg {
    width: 28px;
    height: 28px;
    margin-top: 85px;
  }
}
.homepage-header h1 {
  flex-wrap: wrap;
  margin: 2% 5%;
  padding-bottom: 10%;
  padding-top: 20%;
}
@media (min-width: 501px) and (max-width:800px) {
  .homepage-header h1 {
    font-size: 8rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .homepage-header h1 {
    font-size: 10rem;
  }
}
@media (min-width: 1025px) {
  .homepage-header h1 {
    font-size: 10rem;
  }
}
.homepage-header div a {
  text-decoration: none;
  display: flex;
  margin: 0 5%;
}
.homepage-header div button {
  font-size: 2rem;
  font-weight: bold;
  width: 146px;
}
@media (min-width: 1025px) {
  .homepage-header div button {
    font-size: 3rem;
  }
}
.homepage-header div #joinUs {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: #5E7A52;
  margin-top: 26px;
}
@media (min-width: 1025px) {
  .homepage-header div #joinUs {
    margin-top: 78px;
    font-size: 4rem;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .homepage-header div #joinUs {
    margin-top: 78px;
    font-size: 4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .homepage-header div #joinUs {
    margin-top: 78px;
    font-size: 4rem;
  }
}
.homepage-header div #joinNow {
  color: #C8D6C2;
  border-radius: 5px;
  width: 146px;
  height: 50px;
  background-color: #2A3B6F;
  margin: 2% 4%;
  position: absolute;
  bottom: -35px;
  border: 1px solid #2A3B6F;
  opacity: 1.2;
}
@media (min-width: 1025px) {
  .homepage-header div #joinNow {
    color: white;
    font-size: 4rem;
    width: 297px;
    height: 102px;
    margin: 0% auto;
    bottom: -50px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .homepage-header div #joinNow {
    font-size: 4rem;
    width: 297px;
    height: 102px;
    margin: 0 auto;
    bottom: -45px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .homepage-header div #joinNow {
    font-size: 4rem;
    width: 297px;
    height: 102px;
    margin: 0 auto;
    bottom: -50px;
  }
}
@media (min-width: 2px) and (max-width:500px) {
  .homepage-header {
    max-width: 500px;
    background-size: 100% 100%;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .homepage-header {
    width: 800px;
    background-size: 800px 100%;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .homepage-header {
    width: 1024px;
    background-size: 1024px 100%;
  }
}
@media (min-width: 1025px) {
  .homepage-header {
    width: 100%;
    background-size: cover;
  }
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container .mission {
  width: 100%;
  margin: 0 auto;
  padding: 10% 11%;
  padding-bottom: 10%;
  background-color: #F3F3F3;
}
@media (min-width: 1025px) {
  .container .mission {
    background-color: #ECF1EA;
  }
}
.container .mission h2 {
  color: #465C3D;
  margin-bottom: 7%;
  padding-top: 6%;
  font-size: 3rem;
}
@media (min-width: 501px) and (max-width:800px) {
  .container .mission h2 {
    font-size: 5.4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container .mission h2 {
    font-size: 5.4rem;
  }
}
@media (min-width: 1025px) {
  .container .mission h2 {
    color: #384F94;
    font-size: 5.4rem;
  }
}
.container .mission p {
  margin: 0 5% 0 7%;
  width: 260px;
  color: #707070;
}
@media (min-width: 501px) and (max-width:800px) {
  .container .mission p {
    width: 85%;
    font-size: 3.6rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container .mission p {
    width: 88%;
    font-size: 3.6rem;
  }
}
@media (min-width: 1025px) {
  .container .mission p {
    font-size: 3.6rem;
    color: #698A5C;
    width: 48%;
    margin-left: 22%;
  }
}
.container .SigInUp {
  display: flex;
  width: 100%;
  background-color: #E3EBE0;
  justify-content: center;
}
.container .SigInUp a {
  display: flex;
  margin: 6% 2%;
  justify-content: center;
  text-decoration: none;
}
.container .SigInUp a button {
  color: #E1E6F4;
  width: 146px;
  height: 31px;
  background-color: #4B67BB;
  border: 1px solid #4B67BB;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bolder;
}
@media (min-width: 1025px) {
  .container .SigInUp a button {
    font-size: 5.1rem;
    width: 403px;
    height: 85px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .container .SigInUp a button {
    font-size: 5.1rem;
    width: 330px;
    height: 85px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container .SigInUp a button {
    font-size: 5.1rem;
    width: 403px;
    height: 85px;
  }
}
@media (min-width: 2px) and (max-width:500px) {
  .container {
    max-width: 500px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 100%;
  }
}
.whatOffered {
  width: 100%;
  margin: 0 auto;
  padding: 10% 11%;
  background: #E3EBE0;
}
@media (min-width: 501px) and (max-width:800px) {
}
@media (min-width: 801px) and (max-width:1024px) {
}
@media (min-width: 1025px) and (max-width: 1530px) {
  .whatOffered {
    padding: 120px 4% 0;
  }
}
@media (min-width: 1531px) {
  .whatOffered {
    background: #ECF1EA;
    padding: 120px 151px 0;
  }
}
.whatOffered h1 {
  font-family: 'Courgette';
  padding-top: 8%;
  color: #465C3D;
}
@media (min-width: 501px) and (max-width:800px) {
  .whatOffered h1 {
    font-size: 5.4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .whatOffered h1 {
    font-size: 5.4rem;
  }
}
@media (min-width: 1025px) {
  .whatOffered h1 {
    font-size: 5.4rem;
    color: #384f94;
    padding-bottom: 6%;
  }
}
.whatOffered .offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
@media (min-width: 501px) and (max-width:800px) {
  .whatOffered .offer-container {
    flex-direction: column;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .whatOffered .offer-container {
    flex-direction: column;
  }
}
@media (min-width: 1025px) {
  .whatOffered .offer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.whatOffered .offer-container .info-box {
  height: 280px;
  width: 280px;
  background: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px 7px #999;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}
@media (min-width: 501px) and (max-width:800px) {
  .whatOffered .offer-container .info-box {
    height: 246px;
    width: 246px;
    margin: 20px 5px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .whatOffered .offer-container .info-box {
    height: 246px;
    width: 246px;
    margin: 20px auto;
  }
}
@media (min-width: 1025px) {
  .whatOffered .offer-container .info-box {
    height: 320px;
    width: 320px;
    margin: 20px 0;
  }
}
.whatOffered .offer-container .info-box h2 {
  font-family: 'Sarabun';
  color: #578A42;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 501px) and (max-width:800px) {
  .whatOffered .offer-container .info-box h2 {
    font-size: 2rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .whatOffered .offer-container .info-box h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1025px) {
  .whatOffered .offer-container .info-box h2 {
    font-size: 4rem;
  }
}
.whatOffered .offer-container .info-box .text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 170px;
  line-height: 2px;
}
.whatOffered .offer-container .info-box .text-container p {
  color: #578A42;
  font-size: 2rem;
}
@media (min-width: 501px) and (max-width:800px) {
  .whatOffered .offer-container .info-box .text-container {
    font-size: 1.4rem;
    height: 160px;
    line-height: 1.5px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .whatOffered .offer-container .info-box .text-container {
    font-size: 1.4rem;
    height: 160px;
    line-height: 1.5px;
  }
}
@media (min-width: 1025px) {
  .whatOffered .offer-container .info-box .text-container {
    height: 220px;
    padding: 0 60px;
  }
}
.about-container {
  margin: 0 auto;
}
.about-container .about-header {
  height: 20%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 100, 0, 0.3), rgba(0, 100, 0, 0.3)), url(../images/about.png);
  filter: opacity(0.8);
  background-size: cover;
}
@media (min-width: 2px) and (max-width:500px) {
  .about-container .about-header {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .about-header {
    width: 100%;
    height: 490px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .about-header {
    width: 100%;
    height: 490px;
  }
}
@media (min-width: 1025px) {
  .about-container .about-header {
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
}
.about-container .about-header .top-header {
  background-color: #E1E6F4;
  width: 100%;
  height: 81px;
  display: flex;
  margin-top: -84px;
  padding-top: 7px;
  justify-content: space-between;
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .about-header .top-header {
    height: 206px;
    margin-top: -100px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .about-header .top-header {
    height: 206px;
    margin-top: -100px;
  }
}
@media (min-width: 1025px) {
  .about-container .about-header .top-header {
    height: 206px;
    margin-top: -204px;
  }
}
.about-container .about-header .logo {
  width: 127px;
  height: 67px;
  margin-left: -24px;
}
@media (min-width: 1025px) {
  .about-container .about-header .logo {
    width: 359px;
    height: 180px;
    margin-top: 13px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .about-header .logo {
    width: 359px;
    height: 180px;
    margin-top: 13px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .about-header .logo {
    width: 359px;
    height: 180px;
    margin-top: 13px;
  }
}
.about-container .about-header .signImg {
  width: 14px;
  height: 14px;
  margin-top: 30px;
  margin-right: 24px;
}
@media (min-width: 1025px) {
  .about-container .about-header .signImg {
    width: 28px;
    height: 28px;
    margin-top: 85px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .about-header .signImg {
    width: 28px;
    height: 28px;
    margin-top: 85px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .about-header .signImg {
    width: 28px;
    height: 28px;
    margin-top: 85px;
  }
}
.about-container .about-header div a {
  text-decoration: none;
  display: flex;
}
.about-container .about-header div button {
  font-size: 2rem;
  font-weight: bold;
  width: 146px;
}
@media (min-width: 1025px) {
  .about-container .about-header div button {
    font-size: 3rem;
  }
}
.about-container .about-header div #joinUs {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: #5E7A52;
  margin-top: 26px;
}
@media (min-width: 1025px) {
  .about-container .about-header div #joinUs {
    margin-top: 78px;
    font-size: 4rem;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .about-header div #joinUs {
    margin-top: 78px;
    font-size: 4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .about-header div #joinUs {
    margin-top: 78px;
    font-size: 4rem;
  }
}
.about-container .about-header h1 {
  margin-left: 5%;
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .about-header h1 {
    font-size: 6rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .about-header h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1025px) {
  .about-container .about-header h1 {
    font-size: 10rem;
  }
}
.about-container .developers {
  background-color: #ECF1EA;
  padding-top: 65px;
}
.about-container .developers h2 {
  margin-left: 5%;
  margin-bottom: 19px;
  color: #384F94;
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .developers h2 {
    font-size: 4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .developers h2 {
    font-size: 4rem;
  }
}
@media (min-width: 1025px) {
  .about-container .developers h2 {
    font-size: 6rem;
  }
}
.about-container .developers .members {
  text-align: center;
  margin: 10px auto;
}
.about-container .developers .members .name {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: bold;
  color: #4B67BB;
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .developers .members .name {
    font-size: 4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .developers .members .name {
    font-size: 4rem;
  }
}
@media (min-width: 1025px) {
  .about-container .developers .members .name {
    font-size: 4rem;
  }
}
.about-container .developers .members .role {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: bold;
  color: #698A5C;
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .developers .members .role {
    font-size: 4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .developers .members .role {
    font-size: 4rem;
  }
}
@media (min-width: 1025px) {
  .about-container .developers .members .role {
    font-size: 4rem;
  }
}
.about-container .developers .members .imgMember {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .developers .members .imgMember {
    width: 316px;
    height: 316px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .developers .members .imgMember {
    width: 316px;
    height: 316px;
  }
}
@media (min-width: 1025px) {
  .about-container .developers .members .imgMember {
    width: 316px;
    height: 316px;
  }
}
.about-container .developers .members .image-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.about-container .developers .members .image-container .circle {
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 2px solid #ECF1EA;
  bottom: 5px;
  top: 5px;
}
@media (min-width: 501px) and (max-width:800px) {
  .about-container .developers .members .image-container .circle {
    width: 292px;
    height: 292px;
    bottom: 12px;
    top: 12px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .about-container .developers .members .image-container .circle {
    width: 292px;
    height: 292px;
    bottom: 12px;
    top: 12px;
  }
}
@media (min-width: 1025px) {
  .about-container .developers .members .image-container .circle {
    width: 292px;
    height: 292px;
    bottom: 12px;
    top: 12px;
  }
}
.about-container .developers .designer {
  padding-top: 65px;
  padding-bottom: 5%;
}
.contact-page {
  width: 100%;
  padding-top: 80px;
  background: #ECF1EA;
}
.contact-page h1 {
  color: #384F94;
  font-size: 2.4rem;
  margin-left: 5%;
}
@media (min-width: 1025px) {
  .contact-page h1 {
    color: #384F94;
    font-size: 5.4rem;
    margin-left: 11%;
  }
}
.contact-page h1 a {
  text-decoration: none;
}
.contact-page .form-container {
  margin: 0 auto;
  padding: 8%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-content: center;
}
@media (min-width: 1025px) {
  .contact-page .form-container {
    width: 817px;
    padding: 0;
  }
}
.contact-page form {
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 450px;
}
.contact-page form label {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #578A42;
  margin: 15px 0 5px;
  border: none;
  padding: 5px;
}
@media (min-width: 1025px) {
  .contact-page form label {
    font-size: 3.2rem;
    padding: 10px;
    margin: 40px 0 10px;
  }
}
.contact-page form input {
  width: 100%;
  height: 85px;
  padding-left: 15px;
  font-size: 2.7rem;
  border: none;
  color: #555;
}
.contact-page form #message {
  padding: 15px;
  font-size: 2.7rem;
  padding: 10px;
  height: 270px;
  width: 100%;
  border: none;
  color: #555;
}
.contact-page form button {
  margin: 40px auto;
  width: 297px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #90A1D5;
  color: #CFE9C4;
  font-size: 4rem;
  letter-spacing: 0.4px;
}
@media (min-width: 1025px) {
  .contact-page form button {
    margin: 40px 0;
  }
}
