/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Sarabun';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courgette';
}
h1 {
  font-size: 3.6rem;
  line-height: 1.4;
}
h2 {
  font-size: 2.4rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
  font-family: 'Sarabun';
}
.main-container {
  max-width: 500px;
  overflow-x: hidden;
}
header {
  display: flex;
  padding: 10% 5%;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 100, 0, 0.3), rgba(0, 100, 0, 0.3)), url(../images/header.png);
  filter: opacity(0.8);
  color: white;
  position: relative;
}
@media (min-width: 1025px) {
  header img {
    width: 3%;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  header img {
    width: 3%;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  header img {
    width: 3%;
  }
}
header h1 {
  flex-wrap: wrap;
  margin: 2% 5%;
  padding-bottom: 10%;
  padding-top: 20%;
}
@media (min-width: 501px) and (max-width:800px) {
  header h1 {
    font-size: 8rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  header h1 {
    font-size: 10rem;
  }
}
@media (min-width: 1025px) {
  header h1 {
    font-size: 10rem;
  }
}
header div {
  margin-top: 2%;
}
header div a {
  text-decoration: none;
}
header div button {
  font-size: 2rem;
  font-weight: bold;
  width: 146px;
}
@media (min-width: 1025px) {
  header div button {
    font-size: 3rem;
  }
}
header div #joinUs {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-left: 70%;
}
@media (min-width: 1025px) {
  header div #joinUs {
    margin-top: 10%;
    margin-left: 80%;
    font-size: 4rem;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  header div #joinUs {
    margin-top: 10%;
    font-size: 4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  header div #joinUs {
    margin-top: 10%;
    font-size: 4rem;
  }
}
header div #joinNow {
  color: #C8D6C2;
  border-radius: 5px;
  width: 146;
  height: 50px;
  background-color: #2A3B6F;
  margin: 2% 4%;
  position: absolute;
  bottom: -35px;
  border: 1px solid #2A3B6F;
  opacity: 1.2;
}
@media (min-width: 1025px) {
  header div #joinNow {
    color: white;
    font-size: 4rem;
    width: 22%;
    height: 12%;
    margin: 0% 19%;
    bottom: -50px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  header div #joinNow {
    font-size: 3rem;
    width: 25%;
    height: 12%;
    margin: 0 13%;
    bottom: -45px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  header div #joinNow {
    font-size: 4rem;
    width: 25%;
    height: 12%;
    margin: 0 12%;
    bottom: -50px;
  }
}
@media (min-width: 2px) and (max-width:500px) {
  header {
    max-width: 500px;
    background-size: 500px 420px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  header {
    width: 800px;
    padding: 3% 0 0 5%;
    background-size: 800px 100%;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  header {
    width: 1024px;
    padding: 3% 0 0 5%;
    background-size: 1024px 100%;
  }
}
@media (min-width: 1025px) {
  header {
    width: 100%;
    background-size: 110% 100%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container .mission {
  width: 100%;
  margin: 0 auto;
  padding: 10% 11%;
  padding-bottom: 10%;
  background-color: #F3F3F3;
}
@media (min-width: 1025px) {
  .container .mission {
    background-color: #ECF1EA;
  }
}
.container .mission h2 {
  color: #465C3D;
  margin-bottom: 7%;
  padding-top: 6%;
  font-size: 3rem;
}
@media (min-width: 501px) and (max-width:800px) {
  .container .mission h2 {
    font-size: 5.4rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container .mission h2 {
    font-size: 5.4rem;
  }
}
@media (min-width: 1025px) {
  .container .mission h2 {
    color: #384F94;
    font-size: 5.4rem;
  }
}
.container .mission p {
  margin: 0 5% 0 3%;
  color: #707070;
}
@media (min-width: 501px) and (max-width:800px) {
  .container .mission p {
    font-size: 3.6rem;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container .mission p {
    font-size: 3.6rem;
  }
}
@media (min-width: 1025px) {
  .container .mission p {
    font-size: 3.6rem;
    color: #698A5C;
    width: 48%;
    margin-left: 22%;
  }
}
.container .SigInUp {
  display: flex;
  width: 100%;
  background-color: #E3EBE0;
  justify-content: center;
}
.container .SigInUp a {
  display: flex;
  width: 45%;
  margin: 6% 0;
  justify-content: center;
  text-decoration: none;
}
@media (min-width: 1025px) {
  .container .SigInUp a {
    width: 30%;
  }
}
.container .SigInUp a button {
  color: #E1E6F4;
  width: 86%;
  height: 45px;
  background-color: #4B67BB;
  border: 1px solid #4B67BB;
  border-radius: 5px;
  font-size: 2.2rem;
  font-weight: bolder;
}
@media (min-width: 1025px) {
  .container .SigInUp a button {
    font-size: 3rem;
    width: 90%;
    height: 65px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .container .SigInUp a button {
    font-size: 3rem;
    width: 90%;
    height: 65px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container .SigInUp a button {
    font-size: 3rem;
    width: 90%;
    height: 65px;
  }
}
@media (min-width: 2px) and (max-width:500px) {
  .container {
    max-width: 500px;
  }
}
@media (min-width: 501px) and (max-width:800px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 801px) and (max-width:1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 100%;
  }
}
