footer { 
  background: #BACCB3;
  height: 50px;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Sarabun', sans-serif;
  letter-spacing: 1.23px;
  color: #6B82C7;

  @media @desktop {
    height: 160px;
    align-items: center;
    padding: 0 320px;
  }

  p {
    text-align: left;
    font-size: 0.8rem;
    color: #90A1D5;
    display: flex;
    justify-content: left;
    text-align: left;

    @media @desktop {
      font-size: 2rem;
      align-items: center;
    }
  }
  nav {
    display: flex;
    span {
      margin: 0 10px;
      @media @desktop {
        font-size: 2rem;
      }
    } 
    a {
      font-size: 0.8rem;
      font-weight: 500;
      color: #6B82C7;
      text-decoration: none;
      
      @media @desktop {
        font-size: 2rem;
        align-items: center;
      }
    }
  }

}