.whatOffered {
  background: #E3EBE0;
  
  h1 {
    color: #465C3D;
  }

  .offer-container {
    display: flex;
    flex-direction: column;
    .info-box {
      height: 120px;
      width: 120px;
      background: #fff;
      border: none;
      border-radius: 7px;
      margin: 20px auto;
      padding: 5px;
      text-align: center;
      h2 {
        color: #465C3D;
        text-transform: uppercase;
      }
    }
  }
}

