header {
    display: flex;
     border: 1px solid darkblue;
	// @media @mobile {
        padding: 10% 5%;
        flex-direction: column;
        width:500px;
        justify-content: space-evenly; 
        margin:0 auto;
        background-color:#F5F5F5;
        color:#384F94;
        // font-weight: bold;
        position: relative;
        h1 {
            flex-wrap: wrap;
            font-size:4.6rem;
            width:65%;
            margin:2% 5%;
            padding-bottom: 10%;
            padding-top: 20%;
        }
        div {
          button {
          
          font-size: 2.2rem;
          font-weight: bold;
          
          }
         
          #joinUs {
            background-color:#F5F5F5;
            border:1px solid #F5F5F5;
            color:#2A3B6F;
            
            // font-size:2rem;
            // font-weight:bold;
            margin-left:70%;
            ;
            
          }
         
         
          #joinNow {
            color:#C8D6C2;
            border-radius: 10px;
            width: 26%;
            height: 50px;
            background-color:#2A3B6F;
            margin:2% 5%;
            position: absolute;
            bottom:-35px;
            border:1px solid #2A3B6F;
            
          }
         
        }
//    }
    @media @tablet1 {
        width:800px;
        padding:3% 0 0 0;
    }
    @media @tablet2 {
        width:1024px;
        padding:3% 0 0 0;
    }
}

.container {
    
    // @media @mobile {
      display: flex;
      width:500px;
      flex-direction:column; 
      margin:0 auto;
      .mission {
        width:100%;
        margin:0 auto;
        padding:2% 11%;
        padding-bottom: 10%;
        background-color: #F3F3F3;
        h2 {
          color:#465C3D;
          margin-bottom:7%;
          padding-top:6%;
          font-size:3rem;
          
        }
        p{ 

          margin:0 5%;
          font-size:2.4rem;
          color:#707070; 
       }

      }
      .SigInUp {
        display:flex;
        width:100%;
        // height:120px;
        background-color: #E3EBE0;
        justify-content: center;
        a{
          display:flex;
          width:45%;
          margin:6% 0;
          justify-content: center;
          text-decoration: none;
          button {
            
            color:#707070;
            width:86%;
            height:45px;
            // margin:6% 0;
            background-color: #E4E0E0;
            border:1px solid #E4E0E0;
            border-radius:5px;
            font-size: 2.2rem;
            font-weight:bolder;
            
          }
        }
      }
      
    // }
    @media @tablet1 {
        width:800px;
        
    }
    @media @tablet2 {
        width:1024px;
        
    }
    
  }